<div class="container-fluid">
    <h1><%= title %></h1>
<head>
    <title>About SANDRA Bolos </title>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
</head>
<nav>
<body>
</nav>
    <div class="outerdiv">
        <br/>
        <br/>

        <p style="font-size:30px">Sandra Bolos</p> <br />
        <br />
    </div>
    </div>


    <article class="outerdiv">
  
               
               .<br />
               I have moved to Canada 7 years ago with the hope to create a long-term successful career. 
               And since I moved, I have taken the time to grow personally, 
               become a business owner, and work in corporate jobs. 
               Using my customer service, administrative and organization skills to reach these roles and master them. 
               But the dream didn’t stop there, going back to school and getting a degree is the highlight of this growth and with the combination of my previous skills and the extra knowledge from schooling like of PL/SQL,
                HTML, and JavaScript. Will make achieving this role possible. In addition, 
                I have recently enrolled in google certificate program for Data Analysis which has enriched my knowledge differently as it focused more on the actual role in the workplace.
                With this, I can easily say adaptability won’t be a problem for me, and I am very excited for all the new challenges that would come with this new endeavor.  <br />
             
                <br />
                you can find more about my services by clicking here <a href="services.ejs">Services</a>
                <br />

    </article>

    <div class="innerdiv">
    <img src="images/Sandra.jpg" ; height="500px" ; width="300px" />
    </div>


    </article>
    <div class="innerdiv">
    <p>
    <h1>Imporatnt Information</h1>


    </p>
    </div>


    <div class="innerdiv">
            <br />
        <br />
    </div>


   
</body>
</html>
</div>
