<div class="container-fluid">
    <h1><%= title %></h1>

<html>
    <body>
        <div class="missioncontainer">
            <img src="/images/logo3.jpg"class="img-fluid">

        <article class="missionbox">
  

            <br />
            "learning has no limits and with everyday that passes by, I hope to expand my knowledge one step further"  <br />
           
             <br />
             You can find more about me by clicking on the  <a class= "link <%= (page == 'about') ? 'active' : ''%> " aria-current="page" href="/about">About me</a>
             <br />
            </div>
 </article>
</div>
</body>
</html>