<div class="container-fluid">
    <h1><%= title %></h1>
    <div class="projectouter">

   
<div class="container-fluid text-center">
  
      <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="images/Project3.jpg" alt="Honda vs Hyundai" width="400" height="300">
          <p><strong>Honda Vs Hyundai</strong></p>
          <p>This project was completed last semester. It was very light and fun to research and put together, I was the leader of that group and our performance was very high got a complete grade A+</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="images/DataAnalytics.jpg" alt="Data Analytics" width="400" height="300">
          <p><strong>Data Analysis Certificate</strong></p>I have enjoyed Data classes during the last 3 semesters in college, and based on that I have decided to grow that interest, So I found a very unique
            Certificate program by Google that will teach, and train students how to start a career in data analytics. Hopefully will complete it in the next 6 months.</strong></p>
          <p></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="images/SoftwareDesign.jpg" alt="Software Systems Design" width="400" height="300">
          <p><strong>Software Systems Design</strong></p>
          <p>Currently I have been working in a group project with 6 more team members, to design software App that help students by providing private and group classes
            the App called "Learn with us" and its currently in its early stages</p>
        </div>
      </div>
    </div>
  </div>
              
   </body>
   </html>
</div>
