<div class="container-fluid">
    <h1><%= title %></h1>

    <br />
    <li>PL/SQL</li>
    <li>C#</li>
    <li>Java</li>
    <li>HTML</li>
    <li>CSS</li>
    <img src="images/Prog1.jpg" width="auto" height="400px" alt="Code" />
    <img src="images/Prog2.jpg" width="auto" height="400px" alt="Data" />
    <br />
</div>
